body{
	width:100%;
	padding:0;
	margin:0;
	font-family:Verdana, Geneva, sans-serif;
	background:url(../images/main_backgr.jpg) no-repeat fixed center top;
	background-size:100% 100%;
}
img{border:0}
a{text-decoration:none}
ul{list-style:none;}
.clear{
	padding:0;
	margin:0;
	line-height:0;
	clear:both;
}
.hidden{display:none}
.left{float:left}
.right{float:right}
.red{color:red}
.green{color:green}
.main_wrapper{
	width:998px;
	margin:10px auto;
	padding:0;
}
	.main_band{
		width:100%;
		position:relative;
		background:url(../images/top_band_backgr.png);
	}
		.logo_field{
			width:35%;
			float:left;
		}
			.main_band .logo_field img{
				padding:5px 20px;
			}
		.menu_field{
			width:60%;
			padding:20px 20px;
			float:right;
		}
			.menu_field ul{
				margin:0;
				padding:0;
				list-style:none;
				text-align:right;
				text-transform:uppercase;
			}
				.menu_field ul li{
					display:inline;
					margin:0 -3px;
					vertical-align:middle;
				}
					.menu_field ul li a{
						padding:22px 18px;
						color:#ffffff;
						text-decoration:none;
					}
				.menu_field ul li a.selected{
					background:url(../images/top_band_backgr_sel.png);
					/*background:rgba(0,0,0,0.45);
					background: rgb(0, 0, 0);*/
					/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#72000000, endColorstr=#72000000); /* IE 6/7 */    
					/*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#72000000, endColorstr=#72000000)"; /* IE8 */
				}
	.slider_holder{
		width:100%;
		height:250px;
		padding:0;
		margin:0;
		-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
		-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
		box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#444444)";
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#444444);
		behavior: url(../css/PIE.htc);
	}
		
	.content_wrapper{
		width:100%;
		margin:0;
		padding:0;
	}
		.content_field{
			width:70%;
			float:left;
		}
		.rightside_bar{
			width:28%;
			float:right;
		}
		.rounded{
			width:100%;
			margin:2% 0;
			position:relative;
			-moz-border-radius: 20px;
			-webkit-border-radius: 20px;
			-khtml-border-radius: 20px;
			border-radius: 20px;
			-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
			-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
			box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
			-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#444444)";
			filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#444444);
			behavior: url(../css/PIE.htc);
		}
		.rightside_bar .rounded{margin:5.5% 0;}
		.rounded.small{
			width:32%;
			float:left;
			margin:0 0 2% 2%;
		}
			.rounded.small.first {margin-left:0}
			.rounded_header{
				margin:0;
				padding:10px 20px;
				position:relative;
				background:url(../images/content_header_backgr.png);
				-moz-border-radius: 20px 20px 0 0;
				-webkit-border-radius: 20px 20px 0 0;
				-khtml-border-radius: 20px 20px 0 0;
				border-radius: 20px 20px 0 0;
				behavior: url(../css/PIE.htc);
			}
				.rounded_header.closed{
					-moz-border-radius: 20px 20px 20px 20px;
					-webkit-border-radius: 20px 20px 20px 20px;
					-khtml-border-radius: 20px 20px 20px 20px;
					border-radius: 20px 20px 20px 20px;
					behavior: url(../css/PIE.htc);
				}
				.rounded_header.face{
					background:url(../images/content_header_backgr_face.png);
				}
				.rounded_header h1{
					padding:0;
					margin:0;
					color:#ffffff;
					font-weight:100;
					font-size:20px;
					text-transform:uppercase;
				}
				.rounded.small .rounded_header h1{
					font-size:16px;
				}
					.rounded_header h1 .open_close_arrow:hover{
						cursor:pointer;
					}
			.rounded_content{
				margin:0;
				padding:20px;
				position:relative;
				background:url(../images/rounded_content_backgr.png);
				-moz-border-radius: 0 0 20px 20px;
				-webkit-border-radius:0 0  20px 20px ;
				-khtml-border-radius: 0 0 20px 20px ;
				border-radius: 0 0 20px 20px ;
				behavior: url(../css/PIE.htc);
			}
				.rounded_content p{
					margin:0;
					padding:0;
					text-align:justify;
				}
					.rounded_content p.contacts{
						font-size:11px;
						text-align:left;
						line-height:120%;
					}
					.rounded_content p.content_footer{
						margin:20px 0 10px 0;
						font-size:12px;
						text-align:left;
					}
						
						.rounded_content p.content_footer a {text-transform:uppercase;}
						
					.rounded_content p img{
						width:33%;
						margin:0 10px 0 0;
						float:left;
					}
						.rounded.small .rounded_content p{font-size:14px}
						.rounded.small .rounded_content p img{
							width:45%;
						}
						.rounded_content p.content_footer.right {text-align:right}
						.rounded_content p.content_footer.right a{vertical-align:middle;text-decoration:none;}
						.rounded_content p.content_footer.right a img{width:7%;float:right;vertical-align:middle;}
		.main_band.footer{padding:1px;}/*margin-top:1%;*/
			.main_band.footer p{color:white;text-align:center;font-size:12px}
			.main_band.footer span.counter{padding-right:20px;position:relative;float:right;}
			
	/*page personal css*/
	.video{
		width:600px;
		margin:20px auto;
	}
	p.contacts_big{
		line-height:150%;
	}
	
	.feedback_form{
		margin:20px 0;
	}
		.feedback_form h2{
			margin:10px 0 0 0;
			font-size:16px;
			font-weight:bold;
		}
			.feedback_form span.info{
				font-size:10px;
			}
			img.mail{
				width:30%;
			}
			form#contact_form{
				width:65%;
				margin:20px 0;
			}
		input,textarea{
			width:100%;
			margin-bottom:10px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			-khtml-border-radius: 5px;
			border-radius: 5px;
			behavior: url(../css/PIE.htc);
		}
		input{height:20px;}
		a.button{	
			padding:5px 10px;
			border:1px solid #828282;
			border-style:outset;
			text-decoration:none;
			background:#b1b1b1;
			color:#ffffff;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			-khtml-border-radius: 5px;
			border-radius: 5px;
			behavior: url(../css/PIE.htc);
		}
			a.button:hover{
				background:#dddddd;
				color:#000000;
			}
		.image-set.images_list{	
			width:95%;
			margin:20px auto;
		}
			/*.image-set.images_list a{
		
			}*/
			img.gallery_image{
				width:21%;
				height:130px;
				margin:2% 0 2% 1%;
				padding:1%;
				background:#cccccc;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				-khtml-border-radius: 5px;
				border-radius: 5px;
				behavior: url(../css/PIE.htc);
			}
				/*img.gallery_image.ie{behavior: none;}*/
				img.gallery_image:hover{
					background:#aaaaaa;
				}
				
			.result_panel{
				width:30%;
				padding:20px;
				display:none;
				position:absolute;
				top:50%;
				left:17%;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				-khtml-border-radius: 5px;
				border-radius: 5px;
				-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
				-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
				box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
				-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#444444)";
				filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#444444);
				behavior: url(../css/PIE.htc);
				background:#eeeeee;
			}
				.close_panel{
					width:20px;
					height:20px;
					position:absolute;
					top:-13%;
					left:96%;
					background:url(../images/close.png) no-repeat;
				}
				
	/*services page*/
	h2#header_bg,h2#header_en{
		width:70%;
		height:30px;
		padding:0;
		margin:0 0 10px 0;
		float:left;
		overflow:hidden;
	}
	h2#header_en{display:none}
	.lang_flags{
		width:20%;
		text-align:right;
		float:right;
	}
	.lang_switch{
		width:24px;
		height:16px;
		border:1px solid #828282;
		border-style:outset;
	}
	.lang_switch:hover{cursor:pointer;border-style:inset;}